body{
    font-family: arial,helvetica;
    color: #fff;
    text-align:center;
}

h1{
    font-size: 6em;
    font-size: calc(2em + 2vw);
    margin:0;
    text-shadow: 0px 0 17px rgba(0,0,0,0.8);
}

